@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.user-card {
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Montserrat';
    .basket-products {
        padding-top: 30px;
        .basket-products__title {
            color: #446B80;
            font-family: 'Balsamiq Sans';
            font-size: 44px;
            font-weight: 500;
        }
        .basket-products__content {
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            .product-cards {
                padding-right: 10px;
                height: 460px;
                overflow: scroll;
                &::-webkit-scrollbar {
                    width: 5px;
                    height: 0px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #7FC9F0;
                    border-radius: 10px;
                }
                .cart-item {
                    padding: 20px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    gap: 60px;
                    border-top: 1px solid #2235405a;
                    .card-left {
                        display: flex;
                        gap: 20px;
                        img {
                            width: 110px;
                        }
                        .product-description {
                            width: 400px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            p {
                                width: 70%;
                                color: #446B80;
                                line-height: 25px;
                            }
                            a {
                                color: #7FC9F0;
                            }
                        }

                    }
                    .card-medium {
                        display: flex;
                        align-items: center;
                        gap: 25px;
                        color: #446B80;
                        .product-quantity {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            width: 136px;
                            border: 1px solid #446B80;
                            border-radius: 10px;
                            padding: 10px 0;
                            a, h3 {
                                color: #446B80;
                            }
                        }
                        h3 {
                            color: #7FC9F0;
                        }
                    }
                    .card-right {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .like-icon, .remove-icon {
                            font-size: 25px;
                            color: #446B80;
                        }
                    }
                }
            }
            .sale-info {
                border:1px solid #446b8052;
                padding: 20px;
                border-radius: 10px;
                height: 340px;
                width: 300px;
                position: relative;
                .delivery {
                    padding: 5px 0;
                    p {
                        color: #446B80;
                        .bxs-truck {
                            font-size: 20px;
                            padding-right: 10px;
                            color: #7FC9F0;
                        }
                        .bx-pound {
                            padding-right: 20px;
                        }
                        font-size: 18px;
                    }
                }
                .promo-code {
                    display: flex;
                    padding:10px 0;
                    input {
                        padding: 10px;
                        width: 50%;
                        border: none;
                        border-left: 1px solid #446b8052;
                        border-top: 1px solid #446b8052;
                        border-bottom: 1px solid #446b8052;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                    button {
                        width: 50%;
                        background-color:#7FC9F0;
                        border: none;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        color: #fff;
                    }
                }
                .quantity-price {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0 25px 0;
                    border-bottom: 1px solid #446b8066;
                    color: #446b80c6;
                }
                .discount {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    color: #446b80c6;
                }
                .all {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0 15px 0;
                    color: #446b80d8;
                }
                .buying-btn {
                    display: inline-block;
                    color: #fff;
                    background-color: #7FC9F0;
                    width: 85%;
                    height: 12%;
                    text-align: center;
                    align-content: center;
                    border-radius: 10px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .reccomendation-products {
        padding-top: 80px;
        margin-bottom: 50px;
        .reccomendation-products__title {
            color: #446B80;
            font-family: 'Balsamiq Sans';
            font-size: 44px;
            font-weight: 500;
        }
        .reccomendation-cards {
            margin-top: 50px;
            padding: 20px;
            display: flex;
            gap: 20px;
            overflow: scroll;
            &::-webkit-scrollbar {
                width: 0px;
                height: 7px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #7FC9F0;
                border-radius: 15px;
                width: 50px;
            }

            .reccomendation-card {
                border: 1px solid #7fc8f0a2;
                padding: 15px 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                width: 320px;
                border-radius: 15px;
                p {
                    text-align: center;
                    width: 90%;
                    color: #446B80;
                    font-weight: bold;
                    padding: 15px 0;
                    font-family: 'Balsamiq Sans';
                    font-weight: 500;
                }
                h2 {
                    text-align: center;
                    color: #7FC9F0;
                }
                .button {
                    display: inline-block;
                    background-color: #7FC9F0;
                    color: #fff;
                    margin: 20px 0 10px 0;
                    padding: 10px 28px;
                    border-radius: 10px;
                    // position: absolute;
                }
                .like-icon {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    font-size: 25px;
                    color: #7FC9F0;
                }
                img {
                    width: 200px;
                }

                &:nth-child(2) {
                    img {
                        width: 290px;
                    }
                }
                &:nth-child(3) {
                    img {
                        width: 230px;
                    }
                }
                &:nth-child(5) {
                    img {
                        width: 290px;
                    }
                }
                &:nth-child(6) {
                    img {
                        width: 230px;
                    }
                }
            }
        }
    }
}


@media (max-width:1280px) {
    .user-card {
        max-width: 1200px;
        .basket-products {
            padding-top: 30px;
            .basket-products__title {
                font-size: 44px;
            }
            .basket-products__content {
                .product-cards {
                    height: 460px;
                    .cart-item {
                        gap: 40px;
                        .card-left {
                            gap: 10px;
                            img {
                                width: 110px;
                            }
                            .product-description {
                                width: 350px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                p {
                                    width: 80%;
                                    color: #446B80;
                                    line-height: 25px;
                                }
                                a {
                                    color: #7FC9F0;
                                }
                            }
    
                        }
                        .card-medium {
                            display: flex;
                            align-items: center;
                            gap: 25px;
                            color: #446B80;
                            .product-quantity {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                width: 136px;
                                border: 1px solid #446B80;
                                border-radius: 10px;
                                padding: 10px 0;
                                a, h3 {
                                    color: #446B80;
                                }
                            }
                            h3 {
                                color: #7FC9F0;
                            }
                        }
                        .card-right {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            .like-icon, .remove-icon {
                                font-size: 25px;
                                color: #446B80;
                            }
                        }
                    }
                }
                .sale-info {
                    border:1px solid #446b8052;
                    padding: 20px;
                    border-radius: 10px;
                    height: 340px;
                    width: 300px;
                    position: relative;
                    .delivery {
                        padding: 5px 0;
                        p {
                            color: #446B80;
                            .bxs-truck {
                                font-size: 20px;
                                padding-right: 10px;
                                color: #7FC9F0;
                            }
                            .bx-pound {
                                padding-right: 20px;
                            }
                            font-size: 18px;
                        }
                    }
                    .promo-code {
                        display: flex;
                        padding:10px 0;
                        input {
                            padding: 10px;
                            width: 50%;
                            border: none;
                            border-left: 1px solid #446b8052;
                            border-top: 1px solid #446b8052;
                            border-bottom: 1px solid #446b8052;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                        button {
                            width: 50%;
                            background-color:#7FC9F0;
                            border: none;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            color: #fff;
                        }
                    }
                    .quantity-price {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0 25px 0;
                        border-bottom: 1px solid #446b8066;
                        color: #446b80c6;
                    }
                    .discount {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0;
                        color: #446b80c6;
                    }
                    .all {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0 15px 0;
                        color: #446b80d8;
                    }
                    .buying-btn {
                        display: inline-block;
                        color: #fff;
                        background-color: #7FC9F0;
                        width: 85%;
                        height: 12%;
                        text-align: center;
                        align-content: center;
                        border-radius: 10px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        .reccomendation-products {
            padding-top: 80px;
            margin-bottom: 50px;
            .reccomendation-products__title {
                color: #446B80;
                font-family: 'Balsamiq Sans';
                font-size: 44px;
                font-weight: 500;
            }
            .reccomendation-cards {
                margin-top: 50px;
                padding: 20px;
                display: flex;
                gap: 20px;
                overflow: scroll;
                &::-webkit-scrollbar {
                    width: 0px;
                    height: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #7FC9F0;
                    border-radius: 15px;
                    width: 50px;
                }
    
                .reccomendation-card {
                    border: 1px solid #7fc8f0a2;
                    padding: 15px 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    width: 320px;
                    border-radius: 15px;
                    p {
                        text-align: center;
                        width: 90%;
                        color: #446B80;
                        font-weight: bold;
                        padding: 15px 0;
                        font-family: 'Balsamiq Sans';
                        font-weight: 500;
                    }
                    h2 {
                        text-align: center;
                        color: #7FC9F0;
                    }
                    .button {
                        display: inline-block;
                        background-color: #7FC9F0;
                        color: #fff;
                        margin: 20px 0 10px 0;
                        padding: 10px 28px;
                        border-radius: 10px;
                    }
                    .like-icon {
                        position: absolute;
                        right: 20px;
                        top: 20px;
                        font-size: 25px;
                        color: #7FC9F0;
                    }
                    img {
                        width: 200px;
                    }
    
                    &:nth-child(2) {
                        img {
                            width: 290px;
                        }
                    }
                    &:nth-child(3) {
                        img {
                            width: 230px;
                        }
                    }
                    &:nth-child(5) {
                        img {
                            width: 290px;
                        }
                    }
                    &:nth-child(6) {
                        img {
                            width: 230px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .user-card {
        max-width:920px;
        .basket-products {
            padding-top: 30px;
            .basket-products__title {
                font-size: 44px;
            }
            .basket-products__content {
                .product-cards {
                    height: 460px;
                    .cart-item{
                        width: 570px;
                        flex-wrap: wrap;
                        .card-left {
                            gap: 10px;
                            img {
                                width: 110px;
                            }
                            .product-description {
                                width: 350px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                p {
                                    width: 80%;
                                    color: #446B80;
                                    line-height: 25px;
                                }
                                a {
                                    color: #7FC9F0;
                                }
                            }
    
                        }
                        .card-medium {
                            display: flex;
                            align-items: center;
                            gap: 25px;
                            color: #446B80;
                            .product-quantity {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                width: 136px;
                                border: 1px solid #446B80;
                                border-radius: 10px;
                                padding: 10px 0;
                                a, h3 {
                                    color: #446B80;
                                }
                            }
                            h3 {
                                color: #7FC9F0;
                            }
                        }
                        .card-right {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            .like-icon, .remove-icon {
                                font-size: 25px;
                                color: #446B80;
                            }
                        }
                    }
                }
                .sale-info {
                    border:1px solid #446b8052;
                    padding: 20px;
                    border-radius: 10px;
                    height: 340px;
                    width: 300px;
                    position: relative;
                    .delivery {
                        padding: 5px 0;
                        p {
                            color: #446B80;
                            .bxs-truck {
                                font-size: 20px;
                                padding-right: 10px;
                                color: #7FC9F0;
                            }
                            .bx-pound {
                                padding-right: 20px;
                            }
                            font-size: 18px;
                        }
                    }
                    .promo-code {
                        display: flex;
                        padding:10px 0;
                        input {
                            padding: 10px;
                            width: 50%;
                            border: none;
                            border-left: 1px solid #446b8052;
                            border-top: 1px solid #446b8052;
                            border-bottom: 1px solid #446b8052;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                        button {
                            width: 50%;
                            background-color:#7FC9F0;
                            border: none;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            color: #fff;
                        }
                    }
                    .quantity-price {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0 25px 0;
                        border-bottom: 1px solid #446b8066;
                        color: #446b80c6;
                    }
                    .discount {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0;
                        color: #446b80c6;
                    }
                    .all {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0 15px 0;
                        color: #446b80d8;
                    }
                    .buying-btn {
                        display: inline-block;
                        color: #fff;
                        background-color: #7FC9F0;
                        width: 85%;
                        height: 12%;
                        text-align: center;
                        align-content: center;
                        border-radius: 10px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        .reccomendation-products {
            padding-top: 80px;
            margin-bottom: 50px;
            .reccomendation-products__title {
                color: #446B80;
                font-family: 'Balsamiq Sans';
                font-size: 44px;
                font-weight: 500;
            }
            .reccomendation-cards {
                // border: 1px solid rebeccapurple;
                margin-top: 50px;
                padding: 20px;
                display: flex;
                gap: 20px;
                overflow: scroll;
                &::-webkit-scrollbar {
                    width: 0px;
                    height: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #7FC9F0;
                    border-radius: 15px;
                    width: 50px;
                }
    
                .reccomendation-card {
                    border: 1px solid #7fc8f0a2;
                    padding: 15px 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    width: 320px;
                    border-radius: 15px;
                    p {
                        text-align: center;
                        width: 90%;
                        color: #446B80;
                        font-weight: bold;
                        padding: 15px 0;
                        font-family: 'Balsamiq Sans';
                        font-weight: 500;
                    }
                    h2 {
                        text-align: center;
                        color: #7FC9F0;
                    }
                    .button {
                        display: inline-block;
                        background-color: #7FC9F0;
                        color: #fff;
                        margin: 20px 0 10px 0;
                        padding: 10px 28px;
                        border-radius: 10px;
                        // position: absolute;
                    }
                    .like-icon {
                        position: absolute;
                        right: 20px;
                        top: 20px;
                        font-size: 25px;
                        color: #7FC9F0;
                    }
                    img {
                        width: 200px;
                    }
    
                    &:nth-child(2) {
                        img {
                            width: 290px;
                        }
                    }
                    &:nth-child(3) {
                        img {
                            width: 230px;
                        }
                    }
                    &:nth-child(5) {
                        img {
                            width: 290px;
                        }
                    }
                    &:nth-child(6) {
                        img {
                            width: 230px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .user-card {
        max-width:720px;
        .basket-products {
            .basket-products__title {
                font-size: 36px;
            }
            .basket-products__content {
                .product-cards {
                    flex-wrap: wrap;
                    height: 450px;
                    .cart-item {
                        display: flex;
                        flex-direction: column;
                        .card-left {
                            flex-wrap: wrap;
                            img {
                                width: 110px;
                            }
                            .product-description {
                                p {
                                    line-height: 20px;
                                    font-size: 14px;
                                }
                                a {
                                    font-size: 14px;
                                }
                            }
    
                        }
                        .card-right {
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
                .sale-info {
                    height: 340px;
                    width: 280px;
                    .delivery {
                        p {
                            color: #446B80;
                            .bxs-truck {
                                font-size: 20px;
                                padding-right: 10px;
                            }
                            .bx-pound {
                                padding-right: 20px;
                            }
                            font-size: 18px;
                        }
                    }
                    .promo-code {
                        display: flex;
                        padding:10px 0;
                    }
                    .buying-btn {
                        width: 85%;
                        height: 12%;
                    }
                }
            }
        }
        .reccomendation-products {

            .reccomendation-products__title {
                font-size: 36px;
            }
            .reccomendation-cards {
                .reccomendation-card { 
                    width: 320px;
                }
            }
        }
    }
}

@media (max-width:640px) {
    .user-card {
        max-width:600px;
        .basket-products {
            .basket-products__title {
                font-size: 36px;
            }
            .basket-products__content {
                flex-wrap: wrap;
                gap: 30px;
                .product-cards {
                    flex-wrap: wrap;
                    height: 450px;
                    .cart-item {
                        width: 400px;
                        display: flex;
                        flex-direction: column;
                        .card-left {
                            flex-wrap: wrap;
                            img {
                                width: 110px;
                            }
                            .product-description {
                                p {
                                    line-height: 20px;
                                    font-size: 14px;
                                }
                                a {
                                    font-size: 14px;
                                }
                            }
    
                        }
                        .card-right {
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
                .sale-info {
                    height: 340px;
                    width: 280px;
                    .delivery {
                        p {
                            color: #446B80;
                            .bxs-truck {
                                font-size: 20px;
                                padding-right: 10px;
                            }
                            .bx-pound {
                                padding-right: 20px;
                            }
                            font-size: 18px;
                        }
                    }
                    .promo-code {
                        display: flex;
                        padding:10px 0;
                    }
                    .buying-btn {
                        width: 85%;
                        height: 12%;
                    }
                }
            }
        }
        .reccomendation-products {

            .reccomendation-products__title {
                font-size: 36px;
            }
            .reccomendation-cards {
                .reccomendation-card { 
                    width: 320px;
                }
            }
        }
    }
}


@media (max-width:480px) {
    .user-card {
        max-width:420px;
    }
}



@media (max-width:360px) {
    .user-card {
        max-width:320px;
    }
    .basket-products {
        .basket-products__title {
            font-size: 32px;
        }
        .basket-products__content {
            .product-cards {
                flex-wrap: wrap;
                .cart-item{
                    
                    display: flex;
                    flex-direction: column;
                    border: 1px solid red;
                    .card-left {
                        flex-wrap: wrap;
                        img {
                            width: 110px;
                        }
                        .product-description {
                            p {
                                line-height: 20px;
                                font-size: 14px;
                            }
                            a {
                                font-size: 14px;
                            }
                        }

                    }
                    .card-right {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }
            .sale-info {
                height: 340px;
                width: 280px;
                .delivery {
                    p {
                        color: #446B80;
                        .bxs-truck {
                            font-size: 20px;
                            padding-right: 10px;
                        }
                        .bx-pound {
                            padding-right: 20px;
                        }
                        font-size: 18px;
                    }
                }
                .promo-code {
                    display: flex;
                    padding:10px 0;
                }
                .buying-btn {
                    width: 85%;
                    height: 12%;
                }
            }
        }
    }
}