:root{
    --head-bg-color: #ECC7C1;
    --text-color-1-sea:#446B80;
    --text-color-2-blue: #7FC9F0;
    --text-color-3-withe:#fff;
    --text-color-4-black: black;
    --bt-color-1-blue: #7FC9F0;
    --header-text-size-1: 18px;
    --home-text-size-1: 80px;
    --home-text-size-2: 24px;
    --home-bt-text-size: 18px;
}