.user-card {
    background-color: antiquewhite;
    .basket-products {
        border: 2px solid red;
        .basket-products__content {
            background-color: lightblue;
            .product-cards {
                border: 2px solid blueviolet;
            }
            .sale-info {
                border:2px dotted green;
            }
        }
    }
    .reccomendation-products {
        border: 2px dashed blue;
    }
}