.home-page {
    margin: 10px auto;
    width: 90%;
    max-width: 1400px;
    height: auto;
    font-family: Montserrat;
    background-color: var;

    .home-page-r {
        flex: 1;
        gap: 20px;
        h1 {
            font-size: 70px;
        }
        p {
            font-size: 18px;
        }
        button {
            width: 139px;
            height: 48px;
            gap: 0px;
            border-radius: 12px;
            border: none;
            background-color: var(--text-color-2-blue);
            color: white;
        }
    }

    .home-page-l{
        flex: 1;
        position: relative;
        img:nth-child(1){
            border-radius: 40% 50% 60% 10%;
            position: relative;
            z-index: 2;
            height: 500px;
        }
        img:nth-child(2){
            position: absolute;
            object-fit: cover;
            height: 500px;
        }
    }
}
