<<<<<<< Updated upstream
.container-cats{
    background-color: red;
}
=======
body{
    background-color: white !important;
}
.container-cats {
  max-width: 470px;
  width: 100%;
  height: 360px;
display: flex;
justify-content: center;
align-items: center;
padding-left: 20px;
font-family:montserrat ;
background-color: #F3DBD7;
border-radius: 12px;

}
>>>>>>> Stashed changes
